In [2]:
from src import db, processor, model, loader, generator

In [ ]:
print('üü¢Starting ETL process')

# Define the file path for the raw data
file_path = "data/raw/Invoices_Year_2009-2010.csv"

# Clean and process the raw data
df = processor.process_data(file_path)

In [ ]:
# Create the table invoices in PostgreSQL
db.upsert_table(df, "invoices")

In [ ]:
# Execute a base SQL query and get the data to provide to the model
df_clean = db.execute_sql_file("src/utils/queries/base_query.sql")

In [ ]:
# Generate the data model from the data (Kimball model)
dim_product, dim_customer, dim_date, dim_country, fact_sales = model.generate_model(
    df_clean
)

In [ ]:
# Upload the generated data model to PostgreSQL
loader.upload_model(dim_product, dim_customer, dim_date, dim_country, fact_sales)

print('üü¢ETL process completed')

In [7]:
print("üïíNow the aggregations of data, detailed comments on each file of queries")
# Aggregations 
df_agg_1 = db.execute_sql_file("src/utils/queries/growth_yoy_by_country.sql")
print("First aggregation of data")
print(df_agg_1)
# df_agg_2 = db.execute_sql_file("src/utils/queries/cohort_analysis.sql")
# print("Second aggregation of data")
# print(df_agg_2)
# df_agg_3 = db.execute_sql_file("src/utils/queries/classification_products.sql")
# print("Third aggregation of data")
# print(df_agg_3)

üïíNow the aggregations of data, detailed comments on each file of queries
üìÑ Executing SQL file: src/utils/queries/growth_yoy_by_country.sql...
üîí Connection closed
First aggregation of data
                 country  current_year  sales_current_year  \
0         United Kingdom          2010         7572513.803
1            Switzerland          2010           42754.010
2                 Poland          2010            2943.130
3               Portugal          2010           20943.650
4                 Norway          2010            3594.260
5              Australia          2010           30001.550
6                Belgium          2010           22196.430
7                Austria          2010           11024.940
8                  Japan          2010            8644.710
9                  Italy          2010           13376.190
10               Denmark          2010           45588.490
11                   USA          2010            4414.620
12                 Spain          2010           29133.300
13                France          2010          125106.510
14                Greece          2010           13674.020
15       Channel Islands          2010           20421.940
16               Nigeria          2010             140.390
17                Sweden          2010           50930.310
18               Germany          2010          186404.381
19                  EIRE          2010          332856.360
20           Netherlands          2010          248657.030
21  United Arab Emirates          2010            7566.830
22                Cyprus          2010            7764.020
23               Finland          2010            6638.630

    sales_previous_year growth_percentage
0             724625.73           945.02%
1                589.40          7153.82%
2                371.82           691.55%
3               2821.58           642.27%
4                485.31           640.61%
5                 50.25         59604.58%
6                447.60          4858.99%
7               1998.34           451.70%
8               -208.75         -4241.18%
9                398.20          3259.16%
10              1384.46          3192.87%
11               141.00          3030.94%
12              7918.83           267.90%
13              5555.04          2152.13%
14               610.95          2138.16%
15               945.38          2060.18%
16              -147.05          -195.47%
17               259.80         19503.66%
18              9516.04          1858.84%
19             19127.94          1640.16%
20             15204.73          1535.39%
21               479.54          1477.94%
22              3409.78           127.70%
23               549.08          1109.05%

In [ ]:
print("‚ö†Ô∏èNow try the generator with some queries, the generator use the data from the database")
# BETA MODE: Generate the table from input of the user
# use for simple queries
# try: "top 10 products sold in December 2009"

user_query = "top 10 products sold in December 2009"
df_generated = generator.generate_table(user_query)
print(df_generated)

In [8]:
print(db.execute_query("select table_name from information_schema.tables where table_schema='public'"))

üîí Connection closed
     table_name
0   dim_product
1  dim_customer
2      dim_date
3    test_table
4   dim_country
5      invoices
6    fact_sales

In [9]:
db.execute_query("DROP TABLE invoices")
db.execute_query("DROP TABLE dim_product")
db.execute_query("DROP TABLE dim_customer")
db.execute_query("DROP TABLE dim_date")
db.execute_query("DROP TABLE dim_country")
db.execute_query("DROP TABLE fact_sales")
db.execute_query("DROP TABLE test_table")

‚úÖ Query executed successfully
üîí Connection closed
‚úÖ Query executed successfully
üîí Connection closed
‚úÖ Query executed successfully
üîí Connection closed
‚úÖ Query executed successfully
üîí Connection closed
‚úÖ Query executed successfully
üîí Connection closed
‚úÖ Query executed successfully
üîí Connection closed
‚úÖ Query executed successfully
üîí Connection closed